body {
    background-color: rgba(7, 138, 138,0.3);
}

#dp {
    position:absolute;
    top: 25px;
    left: 940px;
    height : 200px;

}

.info {

    line-height: 10px ;
    color :  rgba(38, 38, 44,0.87);
}
.heading {
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 0px ;
}

#apply {
    display : inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#job {
    display : inline-block;
    text-decoration: underline;
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: rgba(38, 38, 44,0.87);
    line-height: 1px;
}

th {
    padding-left: 5px;
    padding-right: 28px;
    border: 2px solid;
    font-size: large;
}

table {
    border: 2px solid ;
}

td{
    padding-right: 28px;
    border: 2px solid;
    font-size: large;
}

h2 {
    color : rgba(38, 38, 44,0.87);
}

.ulheads {
    margin-bottom: 10px;
}

ul {
    font-size: large;
    margin-top: 8px;
}

.padding {
    padding-left : 20px
}

#ref {
    display: inline-block;
}

#refp {
    font-size: larger;
    margin-left: 6px;
    font-style: bold;
    display: inline-block
}